{% extends 'partials/_home.html' %}

{% block content %}
<div class="jumbotron">
    <div class="container text-center text-lg-left">
        <h1 class="display-5">eBuddy--An expense financial tracker app</h1>

        <p class="lead">
            Take control of your finances with eBuddy,
            an intuitive expense tracker app that empowers you
            to record, categorize, and manage your expenses
            effortlessly. Keep tabs on your spending habits
            and make informed financial decisions.
        </p>
        <a class="btn btn-lg btn-primary" href="{% url 'register' %}" role="button">Register &raquo;</a>
        <a class="btn btn-lg btn-primary" href="{% url 'login' %}" role="button">Login &#8594</i></a>
    </div>
</div>
{% endblock %}